In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Samir\OneDrive\Área de Trabalho\Modulo 3 ultimo semestre\Online Retail1.csv', sep=';', engine='python')
display(df)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,20201226,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,01/12/2010 09:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,01/12/2010 09:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,NaN,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,01/12/2010 09:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,01/12/2010 09:37,0.55,14688.0,United Kingdom

In [2]:
print("Informações gerais sobre o conjunto de dados:")
print(df.info()) 

print("\nQuantidade de dados nulos por coluna:")
print(df.isnull().sum())

print("\nPrimeiras 5 linhas do arquivo:")
print(df.head())  

print("\nÚltimas 5 linhas do arquivo:")
print(df.tail())

Informações gerais sobre o conjunto de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    100 non-null    int64
 1   StockCode    100 non-null    object
 2   Description  100 non-null    object
 3   Quantity     100 non-null    int64
 4   InvoiceDate  96 non-null     object
 5   UnitPrice    100 non-null    float64
 6   CustomerID   96 non-null     float64
 7   Country      100 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 6.4+ KB
None

Quantidade de dados nulos por coluna:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    4
UnitPrice      0
CustomerID     4
Country        0
dtype: int64

Primeiras 5 linhas do arquivo:
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country
0  01/12/2010 08:26       2.55     17850.0  United Kingdom
1  01/12/2010 08:26       3.39     17850.0  United Kingdom
2  01/12/2010 08:26       2.75     17850.0  United Kingdom
3  01/12/2010 08:26       3.39     17850.0  United Kingdom
4          20201226       3.39     17850.0  United Kingdom

Últimas 5 linhas do arquivo:
    InvoiceNo StockCode                         Description  Quantity  \
95     536378     22352   LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212     PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975      PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991         60 TEATIME FAIRY CAKE CASES        24

         InvoiceDate  UnitPrice  CustomerID         Country
95  01/12/2010 09:37       2.55     14688.0  United Kingdom
96  01/12/2010 09:37       0.42     14688.0  United Kingdom
97               NaN       0.55     14688.0  United Kingdom
98  01/12/2010 09:37       0.55     14688.0  United Kingdom
99  01/12/2010 09:37       0.55     14688.0  United Kingdom

In [3]:
missaoPratica = df.copy()

In [4]:
if 'CustomerID' in missaoPratica.columns:
    missaoPratica['CustomerID'] = missaoPratica['CustomerID'].fillna(0)
else:
    print("A coluna 'CustomerID' não existe no conjunto de dados!")


print("Conjunto de dados após a substituição de valores nulos na coluna 'CustomerID':")
print(missaoPratica.head(5).to_string())
print(missaoPratica.tail(5).to_string())
print("\nQuantidade de dados nulos por coluna:")
print(missaoPratica.isnull().sum())

Conjunto de dados após a substituição de valores nulos na coluna 'CustomerID':
   InvoiceNo StockCode                          Description  Quantity       InvoiceDate  UnitPrice  CustomerID         Country
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  01/12/2010 08:26       2.55     17850.0  United Kingdom
1     536365     71053                  WHITE METAL LANTERN         6  01/12/2010 08:26       3.39     17850.0  United Kingdom
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  01/12/2010 08:26       2.75     17850.0  United Kingdom
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  01/12/2010 08:26       3.39     17850.0  United Kingdom
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6          20201226       3.39     17850.0  United Kingdom
    InvoiceNo StockCode                         Description  Quantity       InvoiceDate  UnitPrice  CustomerID         Country
95     536378     22352   LUNCH BOX WITH CUTLERY RETROSPOT          6  01/12/2010 09:37       2.55     14688.0  United Kingdom
96     536378     21212     PACK OF 72 RETROSPOT CAKE CASES       120  01/12/2010 09:37       0.42     14688.0  United Kingdom
97     536378     21975      PACK OF 60 DINOSAUR CAKE CASES        24               NaN       0.55     14688.0  United Kingdom
98     536378     21977  PACK OF 60 PINK PAISLEY CAKE CASES        24  01/12/2010 09:37       0.55     14688.0  United Kingdom
99     536378     84991         60 TEATIME FAIRY CAKE CASES        24  01/12/2010 09:37       0.55     14688.0  United Kingdom

Quantidade de dados nulos por coluna:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    4
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [5]:
missaoPratica['InvoiceDate'] = missaoPratica['InvoiceDate'].fillna('1900/01/01 00:00')
print(missaoPratica)
print(missaoPratica.isnull().sum())

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975       PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

         InvoiceDate  UnitPrice  CustomerID         Country
0   01/12/2010 08:26       2.55     17850.0  United Kingdom
1   01/12/2010 08:26       3.39     17850.0  United Kingdom
2   01/12/2010 08:26       2.75     17850.0  United Kingdom
3   01/12/2010 08:26       3.39     17850.0  United Kingdom
4           20201226       3.39     17850.0  United Kingdom
..               ...        ...         ...             ...
95  01/12/2010 09:37       2.55     14688.0  United Kingdom
96  01/12/2010 09:37       0.42     14688.0  United Kingdom
97  1900/01/01 00:00       0.55     14688.0  United Kingdom
98  01/12/2010 09:37       0.55     14688.0  United Kingdom
99  01/12/2010 09:37       0.55     14688.0  United Kingdom

[100 rows x 8 columns]
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [6]:
    missaoPratica['InvoiceDate'] = pd.to_datetime(missaoPratica['InvoiceDate'], format='%d/%m/%Y %H:%M')

ValueError: time data "20201226" doesn't match format "%d/%m/%Y %H:%M", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [6]:
def adicionar_hora_se_necessario(data):
    if isinstance(data, str) and len(data) == 8:  # Verifica se é uma string com 8 caracteres
        return data + ' 00:00'
    else:
        return data

missaoPratica['InvoiceDate'] = missaoPratica['InvoiceDate'].apply(adicionar_hora_se_necessario)
missaoPratica['InvoiceDate'] = missaoPratica['InvoiceDate'].fillna('120201226')
missaoPratica['InvoiceDate'] = missaoPratica['InvoiceDate'].replace('20201226 00:00', '26/12/2020 00:00')



print(missaoPratica)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975       PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

         InvoiceDate  UnitPrice  CustomerID         Country
0   01/12/2010 08:26       2.55     17850.0  United Kingdom
1   01/12/2010 08:26       3.39     17850.0  United Kingdom
2   01/12/2010 08:26       2.75     17850.0  United Kingdom
3   01/12/2010 08:26       3.39     17850.0  United Kingdom
4   26/12/2020 00:00       3.39     17850.0  United Kingdom
..               ...        ...         ...             ...
95  01/12/2010 09:37       2.55     14688.0  United Kingdom
96  01/12/2010 09:37       0.42     14688.0  United Kingdom
97  1900/01/01 00:00       0.55     14688.0  United Kingdom
98  01/12/2010 09:37       0.55     14688.0  United Kingdom
99  01/12/2010 09:37       0.55     14688.0  United Kingdom

[100 rows x 8 columns]

In [7]:
missaoPratica['InvoiceDate'] = pd.to_datetime(missaoPratica['InvoiceDate'], format='%d/%m/%Y %H:%M')

ValueError: time data "1900/01/01 00:00" doesn't match format "%d/%m/%Y %H:%M", at position 8. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [8]:
missaoPratica['InvoiceDate'] = missaoPratica['InvoiceDate'].replace('1900/01/01 00:00', pd.NA)

print(missaoPratica)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975       PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

         InvoiceDate  UnitPrice  CustomerID         Country
0   01/12/2010 08:26       2.55     17850.0  United Kingdom
1   01/12/2010 08:26       3.39     17850.0  United Kingdom
2   01/12/2010 08:26       2.75     17850.0  United Kingdom
3   01/12/2010 08:26       3.39     17850.0  United Kingdom
4   26/12/2020 00:00       3.39     17850.0  United Kingdom
..               ...        ...         ...             ...
95  01/12/2010 09:37       2.55     14688.0  United Kingdom
96  01/12/2010 09:37       0.42     14688.0  United Kingdom
97              <NA>       0.55     14688.0  United Kingdom
98  01/12/2010 09:37       0.55     14688.0  United Kingdom
99  01/12/2010 09:37       0.55     14688.0  United Kingdom

[100 rows x 8 columns]

In [10]:
missaoPratica['InvoiceDate'] = pd.to_datetime(missaoPratica['InvoiceDate'], format='%d/%m/%Y %H:%M')
print(missaoPratica)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975       PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2020-12-26 00:00:00       3.39     17850.0  United Kingdom
..                 ...        ...         ...             ...
95 2010-12-01 09:37:00       2.55     14688.0  United Kingdom
96 2010-12-01 09:37:00       0.42     14688.0  United Kingdom
97                 NaT       0.55     14688.0  United Kingdom
98 2010-12-01 09:37:00       0.55     14688.0  United Kingdom
99 2010-12-01 09:37:00       0.55     14688.0  United Kingdom

[100 rows x 8 columns]

In [11]:

missaoPratica = missaoPratica.dropna(subset=['InvoiceDate'])
print(missaoPratica)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
94     536378     21559    STRAWBERRY LUNCH BOX WITH CUTLERY         6
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2020-12-26 00:00:00       3.39     17850.0  United Kingdom
..                 ...        ...         ...             ...
94 2010-12-01 09:37:00       2.55     14688.0  United Kingdom
95 2010-12-01 09:37:00       2.55     14688.0  United Kingdom
96 2010-12-01 09:37:00       0.42     14688.0  United Kingdom
98 2010-12-01 09:37:00       0.55     14688.0  United Kingdom
99 2010-12-01 09:37:00       0.55     14688.0  United Kingdom

[96 rows x 8 columns]