In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Samir\OneDrive\Área de Trabalho\Modulo 3 ultimo semestre\Online Retail.xlsx', sheet_name='Online Retail', engine='openpyxl', header=0)
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [2]:
df.to_csv(r'C:\Users\Samir\OneDrive\Área de Trabalho\Modulo 3 ultimo semestre\Online Retail.csv', sep=';', index=False, encoding='utf-8')
display(df)
df = pd.read_csv(r'C:\Users\Samir\OneDrive\Área de Trabalho\Modulo 3 ultimo semestre\Online Retail.csv', sep=';', engine='python')
print(df.head())

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [3]:
with open('Online Retail.csv', 'r') as file:
    print(file.readline())

InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country

In [4]:
arquivo_csv = 'Online Retail.csv'  
colunas_selecionadas = ['InvoiceNo', 'Description', 'UnitPrice']
df_selecionado = df[colunas_selecionadas]

print(df_selecionado.head())
display(df_selecionado)

  InvoiceNo                          Description  UnitPrice
0    536365   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1    536365                  WHITE METAL LANTERN       3.39
2    536365       CREAM CUPID HEARTS COAT HANGER       2.75
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4    536365       RED WOOLLY HOTTIE WHITE HEART.       3.39

       InvoiceNo                          Description  UnitPrice
0         536365   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1         536365                  WHITE METAL LANTERN       3.39
2         536365       CREAM CUPID HEARTS COAT HANGER       2.75
3         536365  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4         536365       RED WOOLLY HOTTIE WHITE HEART.       3.39
...          ...                                  ...        ...
541904    581587          PACK OF 20 SPACEBOY NAPKINS       0.85
541905    581587         CHILDREN'S APRON DOLLY GIRL        2.10
541906    581587        CHILDRENS CUTLERY DOLLY GIRL        4.15
541907    581587      CHILDRENS CUTLERY CIRCUS PARADE       4.15
541908    581587        BAKING SET 9 PIECE RETROSPOT        4.95

[541909 rows x 3 columns]

In [5]:


df = pd.read_csv(r'C:\Users\Samir\OneDrive\Área de Trabalho\Modulo 3 ultimo semestre\Online Retail.csv', sep=';', engine='python')
pd.set_option('display.max_rows', 9999)


print(df.head(15).to_string())
print(pd.get_option('display.max_rows'))
display(df)

   InvoiceNo StockCode                          Description  Quantity          InvoiceDate  UnitPrice  CustomerID         Country
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1     536365     71053                  WHITE METAL LANTERN         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5     536365     22752         SET 7 BABUSHKA NESTING BOXES         2  2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6     536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6  2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7     536366     22633               HAND WARMER UNION JACK         6  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8     536366     22632            HAND WARMER RED POLKA DOT         6  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9     536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32  2010-12-01 08:34:00       1.69     13047.0  United Kingdom
10    536367     22745           POPPY'S PLAYHOUSE BEDROOM          6  2010-12-01 08:34:00       2.10     13047.0  United Kingdom
11    536367     22748            POPPY'S PLAYHOUSE KITCHEN         6  2010-12-01 08:34:00       2.10     13047.0  United Kingdom
12    536367     22749    FELTCRAFT PRINCESS CHARLOTTE DOLL         8  2010-12-01 08:34:00       3.75     13047.0  United Kingdom
13    536367     22310              IVORY KNITTED MUG COSY          6  2010-12-01 08:34:00       1.65     13047.0  United Kingdom
14    536367     84969   BOX OF 6 ASSORTED COLOUR TEASPOONS         6  2010-12-01 08:34:00       4.25     13047.0  United Kingdom
9999

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [7]:
print(df.head(10)) 


print(df.tail(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5  2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6  2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9  2010-12-01 08:34:00       1.69     13047.0  United Kingdom
       InvoiceNo StockCode                      Description  Quantity  \
541899    581587     22726       ALARM CLOCK BAKELIKE GREEN         4
541900    581587     22730       ALARM CLOCK BAKELIKE IVORY         4
541901    581587     22367  CHILDRENS APRON SPACEBOY DESIGN         8
541902    581587     22629              SPACEBOY LUNCH BOX         12
541903    581587     23256      CHILDRENS CUTLERY SPACEBOY          4
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID Country
541899  2011-12-09 12:50:00       3.75     12680.0  France
541900  2011-12-09 12:50:00       3.75     12680.0  France
541901  2011-12-09 12:50:00       1.95     12680.0  France
541902  2011-12-09 12:50:00       1.95     12680.0  France
541903  2011-12-09 12:50:00       4.15     12680.0  France
541904  2011-12-09 12:50:00       0.85     12680.0  France
541905  2011-12-09 12:50:00       2.10     12680.0  France
541906  2011-12-09 12:50:00       4.15     12680.0  France
541907  2011-12-09 12:50:00       4.15     12680.0  France
541908  2011-12-09 12:50:00       4.95     12680.0  France

In [13]:
print("Informações gerais:")
print(df.info())


print(f"\nQuantidade de linhas: {df.shape[0]}")


print(f"Quantidade de colunas: {df.shape[1]}")


print("\nQuantidade de dados nulos por coluna:")
print(df.isnull().sum())

print("\nTipos de dados de cada coluna:")
print(df.dtypes)

print(f"\nQuantidade de memória utilizada: {df.memory_usage(deep=True).sum() / 1024:.2f} KB")

Informações gerais:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

Quantidade de linhas: 541909
Quantidade de colunas: 8

Quantidade de dados nulos por coluna:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Tipos de dados de cada coluna:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

Quantidade de memória utilizada: 179405.78 KB